<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <div class="section">
    <div class="container">
      <div class="columns">
        <main class="column is-7">
          <div id='calendar'></div>
          {% load static %}
          <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
          <script src="{% static 'schedule/app.js' %}"></script>
        </main>
        <aside class="column is-offset-1  menu">
          {% for event in list %}
          <article class="box">
            <div class="content">
              <p>
                <a href="{% url 'schedule:schedule_detail' event.pk %}">予定: {{ event.event_name }}</a><br>
                スケジュール内容: {{ event.info }}<br>
              </p>
          </div>
          </article>
        {% endfor %}
        </aside>
      </div>
    </div>
  </div>
</body>
</html>
