<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/eea364082e.js" crossorigin="anonymous"></script>
</head>

<form action="" method="POST">
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">モーダルカードのタイトル</p>
      </header>
      <section class="modal-card-body">
        <div class="content">
          {{ form.as_p }}
          {% csrf_token %}
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" type="submit">OK</button>
        <button class="button">キャンセル</button>
      </footer>
    </div>
  </div>
</form>
