<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">モーダルカードのタイトル</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <h2>モーダルカードのコンテンツ（ボディ）</h2>
        カードのコンテンツをここに配置します。
        <h3>見出し3</h3>
        ABC
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">OK</button>
      <button class="button">キャンセル</button>
    </footer>
  </div>
</div>