<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/eea364082e.js" crossorigin="anonymous"></script>
</head>
<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">予定編集</p>
      <button class="delete" onclick="location.href='/schedule'" aria-label="close"></button>
    </header>
    <form action="" method="POST">
      <section class="modal-card-body">
        <div class="content">
          <form class="box">
            <div class="field">
              <label class="label">予定</label>
              <div class="field has-addons">
                <div class="control">
                  <ul>{{ form.event_name }}</ul>
                </div>
              </div>
            </div>
           
            <div class="field">
              <label class="label">予定日</label>
              <div class="control has-icons-left">
                <ul>{{ form.start_date }}</ul>
                <span class="icon large is-left">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>
              <div class="control has-icons-left">
                <ul>{{ form.end_date }}</ul>
                <span class="icon is-small is-left">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>

            </div>
           
            <div class="field">
              <label class="label">内容</label>
              <div class="control has-icons-left">
                <ul>{{ form.info }}</ul>
                <span class="icon is-small is-left">
                  <i class="fas fa-info"></i>
                </span>
              </div>
            </div>
          {% csrf_token %}
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" type="submit">OK</button>
      </footer>
    </form>
  </div>
</div>