{% extends 'schedule/schedule_list.html' %}

{% block side %}
  {% for event in detail %}
    <article class="box">
      <div class="content">
        <p>
          予定: {{ event.event_name }}<br>
          スケジュール内容: {{ event.info }}<br>
        </p>
        <div class="tabs is-right is-size-7">
          <ul>
            <li class="is-active">
              <a>
                <span class="icon is-small">
                  <i class="far fa-edit" aria-hidden="true"></i>
                </span>
                <span>edit</span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small">
                  <i class="far fa-trash-alt" aria-hidden="true"></i>
                </span>
                <span>delete</span>
              </a>
            </li>
          </ul>
        </div>
    </div>
    </article>
  {% endfor %}
{% endblock %}